.navbar a {
    float: left;
    padding: 20px;
    color: rgb(248, 244, 244);
    text-decoration: none;
    font-size: 17px;
    width: 120px;
}
  
.navbar a:hover {
    background-color: rgb(173, 167, 167);
  }
.nav-right {
    float: right;
  }
.navbar {
    width: 100%;
    background-color: rgb(5, 5, 5);
    overflow: auto;
  }
  .column {
    float: left;
    width: 22.22%;
    padding: 20px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }